extends layout

block content
    section.hero.hero-unavailable
        .text-center
          h1 We're Closed!
          p Our website is only available during working hours:
          p Monday to Friday, from 9 AM to 5 PM.