extends layout

block content
  section.services
    h1 Our Services
    .services-grid
      .service-card
        img(src='/images/webdev.jpg' alt='Web Development')
        h2.text Web Development
        p we will build great web applications .
      .service-card
        img(src='/images/mobiledev.jpg' alt='Mobile Development')
        h2 Mobile App Development
        p we will build mobile solutions for Android and iOS.
      .service-card
        img(src='/images/uiux.jpg' alt='SEO and Marketing')
        h2 UI/UX Design
        p Enhance your visibility and with great design.
